<nav *ngIf="identity" class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">{{title}}</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			 	<a class="nav-link" href="#">artistas<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">albums</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"  id="identity_name" href="#">{{ identity.name | uppercase }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/mis-datos']">mis datos</a>
			</li>
		</ul>
		<span class="btn btn-warning float-right" (click)="logOut()">
			Desconectarse
		</span>
		
	</div>
</nav>

<div class="clearfix"></div>

<div *ngIf="identity" class="central col-lg-11">
	<p>Estas Logueado en la aplicacion</p>
	<router-outlet></router-outlet>
</div>

<div class="container" *ngIf="!identity">
	<div class="row">
		<div class="col-lg-6">
			<div class="col-lg-12">
				<h1>Identificate</h1>
				<div *ngIf="errorMessage">
					<div class="alert alert-danger" role="alert">
					  <strong>Error</strong> {{errorMessage}}
					</div>
				</div>
				<form action="" #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
					<p>
						<label>email</label>
						<input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control"  required />
						<span class="text-danger" *ngIf="!email.valid && email.touched">
							El email es requerido
						</span>
					</p>
					<p>
						<label>password</label>
						<input type="password" class="form-control" #password="ngModel" name="password" [(ngModel)]="user.password" required />
					</p>
					<input type="submit" value="Enter" class="btn btn-primary" name="">
				</form>
			</div>
		</div>
		<div class="col-lg-6 float-right">
			<h1>Registrarse</h1>
			<div *ngIf="alertRegister">
				<div class="alert alert-danger" role="alert">
				   {{alertRegister}}
				</div>
			</div>
			<form class="col-md-10" #registerForm="ngForm" (submit)="onSubmitRegister()">
				<p>
					<label>Name</label>
					<input type="text" #name="ngModel" [(ngModel)]="user_register.name" class="form-control" name="name" required>
					<span class="text-danger" *ngIf="!name.valid && name.touched">
						El nombre es requerido
					</span>
				</p>
				<p>
					<label>Surname</label>
					<input type="text" #surname="ngModel" [(ngModel)]="user_register.surname" class="form-control" name="surname" required>
					<span class="text-danger" *ngIf="!surname.valid && surname.touched">
						El apellido es requerido
					</span>
				</p>
				<p>
					<label>email</label>
					<input type="email" #email="ngModel" [(ngModel)]="user_register.email" class="form-control" name="email" required>
					<span class="text-danger" *ngIf="!email.valid && email.touched">
						El email es requerido
					</span>
				</p>   
				<p>
					<label>password</label>
					<input type="password" class="form-control" #password="ngModel" [(ngModel)]="user_register.password" name="password">
					<span class="text-danger" *ngIf="!password.valid && password.touched">
						El password es requerido
					</span>
				</p>
				<input type="submit" value="Registry" class="btn btn-primary" name="">
			</form>
		</div>
	</div>
</div>